:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --main-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
}

body {
  background-color: var(--main-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* *,
*::before,
*::after {
  margin: 0;
  padding: 0;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 1px solid tomato;
}

/* -------------логотип в шапке----------------- */
.logo {
  color: var(--accent-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
}

.logo-part {
  color: var(--title-text-color);
}

/* ---------------- Навигация --------------------- */

.menu,
.contacts {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link {
  text-decoration: none;
}

.menu .link {
  color: var(--title-text-color);
}

.menu .link:hover,
.menu .link:focus {
  color: var(--accent-color);
}

.menu .link.current {
  color: var(--accent-color);
}

.contacts .link {
  color: var(--primary-text-color);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* ---------------- кнопки --------------------------*/

.button {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;

  letter-spacing: inherit;
  text-align: center;

  border-radius: 4px;

  cursor: pointer;
}

.service.button {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);

  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;

  padding: 10px 32px;
  min-width: 200px;
  border: none;
}

.service.button:hover,
.service.button:focus {
  background-color: #188ce8;
}

.filter.button {
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
  font-weight: 500;
  line-height: 1.62;
}

.button:hover,
.button:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

/* ----------- стили для главной страницы -----------------*/
.hero {
  background-color: #2f303a;
  text-align: center;
}

.hero-title {
  color: #ffffff;
  font-size: 44px;
  font-weight: 900;

  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  width: 696px;
  margin: 0 auto 30px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-bottom: 50px;
}

.features-title {
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features .list {
  margin-bottom: 94px;
}

.team img {
  margin-bottom: 30px;
}

.team .names,
.team .profession {
  font-size: 16px;
  line-height: 1.19;
}

.names {
  color: var(--title-text-color);
  font-weight: 500;

  margin-bottom: 10px;
}

/* ----------------- footer ------------------- */

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer .logo-part {
  color: #ffffff;
}

.footer-contacts {
  color: #ffffff;
  font-style: normal;
  line-height: 1.71;
}

.footer-contacts .link {
  color: var(--primary-text-color);
}

.footer-contacts .link:hover,
.footer-contacts .link:focus {
  color: var(--accent-color);
}

.footer-contacts .link.mail {
  display: inline-block;
  margin: 9px 0;
}

/* ------------- стили для портфолио ------------ */

.projects .names {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects .description {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}
